[submodule "dependencies/mongoose"]
	path = dependencies/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "dependencies/qzeroconf"]
	path = dependencies/qzeroconf
	url = https://github.com/jbagg/QtZeroConf.git
